@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --icon-color-1: rgb(0, 151, 230);
  --icon-color-2: rgb(255, 255, 255);
  --background-color-1: 135deg, #0097e6 0%, #00a8ff 100%;
  --background-color-2: rgb(255, 255, 255);
  --first-font-color: rgb(255, 255, 255);
  --second-font-color: rgb(75, 75, 75);

  --main-heading-font: 3.5rem;
  --content-font: 1rem;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  
  font-family: 'Rubik', 'Poppins', sans-serif;
}

.first-part,
.second-part {
  height: 100%;
  font-size: var(--content-font);
}

.first-part {
  background: linear-gradient(var(--background-color-1));
  color: var(--first-font-color);
}

.second-part {
  background-color: var(--background-color-2);
  color: var(--second-font-color);
}

.first-content,
.second-content {
  width: 75%;
}

.main-heading {
  width: 75% !important;
}

.search-icon,
.lock-icon {
  padding: 10px 15px;
  background-color: var(--icon-color-2);
  color: var(--icon-color-1);
  border-radius: 100px;
}

.bin-icon {
  background-color: var(--icon-color-1);
  padding: 10px 15px;
  color: var(--icon-color-2);
  border-radius: 100px;
  font-size: larger;
}

.card-icon {
  color: var(--icon-color-1);
}

.main-container {
  height: 100%;
}

.main-heading h1 {
  font-size: var(--main-heading-font);
  line-height: var(--main-heading-font);
  font-weight: bold;
}

.sidebar {
  background-color: var(--background-color-2);
  transform: translateX(100%);
  z-index: 10;

  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay.active {
  display: block !important;
  opacity: 1;
}