/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --icon-color: rgb(0, 151, 230);
  --background-color: 135deg, #0097e6 0%, #00a8ff 100%;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Rubik', 'Poppins', sans-serif;
}

.first-part {
  background: linear-gradient(var(--background-color));
  color: white;
}

.second-part {
  background-color: white;
}

.search-icon,
.lock-icon {
  padding: 10px 15px;
  background-color: white;
  color: var(--icon-color);
  border-radius: 100px;
}

.bin-icon {
  background-color: var(--icon-color);
  padding: 10px 15px;
  color: white;
  border-radius: 100px;
  font-size: larger;
}

.card-icon {
  color: var(--icon-color);
}

.main-container {
  height: 100%;
}

.main-heading h1 {
  font-size: 3.5rem;
  line-height: 50px;
  font-weight: bold;
}